<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.gif') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/font-awesome.min.css') }}" />
    {% endblock %}
</head>
<body>
  <div id="content">{% block content %}{% endblock %}</div>
  {% block footer %}
  <script type="text/javascript" src={{ url_for('static', filename='js/lib/jquery-3.2.1.slim.min.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/lib/popper.min.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/lib/bootstrap.min.js') }}'></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/lib/vue.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/main.js') }}></script>
  {% endblock %}
</body>
</html>
